{% extends "::base.html.twig" %}

{% block title %}Bon Plan | update etab{% endblock %}

{% block body %}
    <div class="w3_login_module">
        <div class="module form-module">
            <div class="toggle"><i class="fa fa-times fa-pencil"></i>
            </div>
            <div class="form">
                <h2>Modifier etablissement</h2>
                {{ form_start(form) }}
                {#{{ form_row(form.nom, { 'value': etabAModif.nom })  }}#}
                {{ form_row(form.gouvernorat) }}
                {{ form_end(form) }}

            </div>
        </div>
    </div>
</center>
{% endblock %}
