{% extends 'base.html.twig'  %}


{% block body %}

<div class="w3l_banner_nav_right">
    <!-- events -->
    <div class="events">
        <h3>  Events</h3>

        <div class="events-bottom">
            {% for evenements in evenements %}
                <div class="col-md-12 events_bottom_left">
                    <div class="col-md-4 events_bottom_left1">

                    </div>
                    <div class="col-md-8 events_bottom_left2">
                        <img src="{{ asset('template/images/' ~ evenements.brochure) }}" alt=" " class="img-responsive" style="height:200px ; width: 200px ; "/>
                        <h4>{{ evenements.nom }}</h4>
                        <ul>
                            <li><i class="fa fa-clock-o" aria-hidden="true"></i>{{ evenements.date|date('d-m-y') }}</li>
                            <li><i class="fa fa-user" aria-hidden="true"></i><a href="">Admin</a></li>
                        </ul>
                        <p>{{ evenements.description }}</p>
                    </div>
                </div>
            {% endfor %}

            <!-- //events -->
        </div>
    </div>
</div>


{% endblock %}



