{% extends "::base.html.twig" %}

{% block title %}ParcBundle:Voiture:read{% endblock %}

{% block body %}
    <center><h1>Welcome to the Voiture:read page</h1>

        <table border="3">
            <tr style="color: #0011f5">
                <td>id</td>
                <td>nom</td>
                <td>villes</td>

            </tr>
            {% for voiture in gouvernorats  %}
                <tr><td>{{  voiture.id}}</td>
                    <td>{{  voiture.name }}</td>
                    {#<td>{{  voiture.villes }}</td>#}
                </tr>
            {% endfor %}
        </table>
    </center>
{% endblock %}